
/* Header */

.container-header{
    width: 100%;
    min-height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0px 10px 50px 10px;
}

.section-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin: 25px;
}

.nav-bar{
    margin: 0px 35px;
}

/* links de navegação */

.links-header{
    text-decoration: none;
    color: #eee;
    font-size: 22px;
    font-weight: bold;
    margin: 10px;
}

.links-header:hover{
    text-decoration: underline #F0B90B;
}

/* links de login e cadastro */

.box-link{
    border-radius: 15px;
    border: 1.5px #474D57 solid;
    padding: 15px 25px;
    text-decoration: none;
    font-weight: 600;
    color: #D9D9D9;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 22px;
    margin: 0 10px;
    transition: .5s;
}

.box-link2{
    border-radius: 15px;
    border: 1.5px #F0B90B solid;
    padding: 15px 25px;
    text-decoration: none;
    font-weight: 600;
    color: #F0B90B;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    margin: 0 10px;
    transition: .5s;
}

.box-link:hover{
    color: #F0B90B;
    border: 1.5px #F0B90B solid;
}

.box-link2:hover, .box-link2:hover .icon{
    color: #111;
    background-color: #F0B90B;
}

/* icon */ 

.box-qr{
    margin: 0 10px;
    border-radius: 15px;
    border: 3px #111 solid;
    transition: .5s;
}
.qr-code{
    margin: 10px;
    font-size: 45px;
    color: #F0B90B;  
    transition: .5s;
}

.box-qr:hover{
    border: 3px #F0B90B solid;
}

.icon{
    margin:  3px 3px 0px 0px;
    font-size: 24px;
    color: #F0B90B; 
    transition: .5s;
}
/* container main */

.container-main{
    min-height: 900px;
    min-width: 1080px;
}

/* Cards */

.container-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
/* drop card */

.container-drop{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 10px;
    padding: 10px;

}

.drop-img{
    width: 250px;
    height: 280px;
    transform: rotateX(25deg);
}

/* textos drop */

.drop-titulo{
    color: #FCD535;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Kantumruy Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 0.5px;
}

.icon3{
    font-size: 35px;
    color: #F0B90B;
}

.drop-sub-titulo{
    font-size: 20px;
    font-family: "Kantumruy Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #FFFFFF;   
}

.drop-text{
    font-size: 24px;
    font-family: "Kantumruy Pro", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
    color: #FFFFFF;   
}

.drop-sub-text{
    font-size: 16px;
    font-family: "Kantumruy Pro", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 100;
    color: #EAECEF; 
}

/* btn drop */

.espaco2{
    margin-top: 50px;
}

.btn-drop{
    padding: 15px 30px;
    border-radius: 10px;
    border: solid 3px #FCD535;
    text-decoration: none;
    color: #F0B90B;
    font-size: 28px;
    font-family: "Kantumruy Pro", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    transition: .5s;
}

.btn-drop:hover{
    border: solid 3px #F0B90B;
    background-color: #F0B90B;
    box-shadow: 0px 0px 15px #F0B90B;
    color: #111;
}

/* container Tabela */

.container-tabela{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    border-radius: 35px;
    width: 720px;
    height: 500px;
    border: solid 3px #474D57;
}

/* tabela box */

.tabela-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    width: 720px;
    height: 500px;
}

.tabela-titulo{
    font-family: "Kantumruy Pro", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    color: #F0B90B;
    text-transform: uppercase;
}

/* tabela nome, logo e siglas */

.linha-logo{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    flex-direction: row;
    margin: 16px 0px;
    padding: 0px 15px;
    gap: 5px;
    width: 720px;
}


.tabela-linha-moedas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.logo-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 200px;
}

.valores-box{
    width: 75px;
}

.bonus-box{
    width: 10px;
}
.coin-logo{
    height: 38px;
    width: 38px;
}

.coin-sigla{
    color: #fff;
    font-size: 22px;
    font-family: "Kantumruy Pro", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    text-align: left;
}

.coin-nome{
    color: #474D57;
    font-size: 14px;
    font-family: "Kantumruy Pro", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    text-align: left;
}

/* valor */

.tabela-valores{
    color: #fff;
    font-family: "Kantumruy Pro", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
}


/* bonus */ 

.bonus-valor1{
    color: #0ECB81;
    font-family: "Kantumruy Pro", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
}

.bonus-valor2{
    color: #F6465D;
    font-family: "Kantumruy Pro", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
}

.container-dados{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 80px 10px;
    
}

.promo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 800px;
    height: 200px;
    border-radius: 15px;
    border: 1px #474D57 solid;
}

.promo-texto{
    font-family: "Kantumruy Pro", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    color: #eee;
}

.promo-atencao{
    font-family: "Kantumruy Pro", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 30px;
    color: #eee;
}

.promo-btn{
    padding: 10px 30px;
    background-color: #FCD535;
    border: 2px  #F0B90B solid;
    border-radius: 5px;
    text-decoration: none;
    font-family: "Kantumruy Pro", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #181A20;
    font-size: 20px;
    font-weight: 600;
    transition: .5s;
}

.promo-btn:hover{
    box-shadow: 0px 0px 15px #F0B90B;
    text-shadow: 0px 0px 10px #F0B90B;
}

.container-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 0px 0px 25px 0px;
}